{%extends "layout.html"%}
{% block body %}
<h2>Reserve Your Grill</h2>

    <div class="form-group">

    <form class="form_style" action="/submit_date" method="POST">
    <input class="date" type="text" id="datepicker" name="date" placeholder="Choose a date" required>

    <button type="submit" name="action" class="btn btn-default">Submit</button>

    </form>
    </div>

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
  </script>

{% endblock %}
